.spacex-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15.5%;
  margin-right: 25px;
  padding-bottom: 11px;
}

.spacex-logo-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 28px;
  padding-bottom: 15px;
}
