@font-face {
  font-family: 'D-DIN-Med2';
  src: url('./fonts/DINMedium.ttf');
}

.nav-link {
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}

.nav-link-anchor {
  text-decoration: none;
}

.nav-text::before {
  font-family: 'D-DIN-Med2';
  position: relative;
  top: 1.5em;
  content: '';
  background: white;
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.nav-text:hover::before {
  position: relative;
  top: 1.5em;
  content: '';
  background: white;
  display: block;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
}
